@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* {
  outline: 1px solid red;
}*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/*.logo,
.hero-maintext {
  margin: 0;
}*/

.wrapper-up {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    display: flex;
    gap: 120px;
}

.wrapper-mid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  width: 600px;

  margin-top: 20px;
  padding-bottom: 80px;
}

.right-side {
  align-items: flex-end;
}

.head {
  background-color: rgb(244, 218, 186);
  background-image: url(resources/runy2.png);
  background-size: contain;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.hero-maintext {
  color: #F9FAF8;
  
  font-size: 48px;
  font-weight: 900;

  margin: 0;
}

.hero-sidetext {
  color: rgb(182, 104, 2);
  
  margin: 0;
  font-size: 18px;
  padding: 8px 0 8px 0;
}

.header-button {
  color: white;
  background-color: #DAA520;

  font-weight: 700;
  
  border: none;
  border-radius: 7px;
  width: 120px;
  padding: 8px;

}

.right-side-pic img {
  width: 300px;
  border: 3px solid #DAA520;
  margin: 70px 0 0 0;
  border-radius: 7px;
}

a:hover {
  color: #DAA520;
}

button:hover {
  background-color: rgb(182, 104, 2);
}

a,
li,
ul {
  color: rgb(182, 104, 2);
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  display: flex;
  gap: 15px;
}

p {
  letter-spacing: 1px;
  margin: 0;
}

.main-hero {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.mainhero-mid {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.img-mid {
  width: 200px;
}

.column-mid {
  width: 200px;
}

.quote-section {
  background-color: #E5E7EB;
  margin: 66px 0 66px 0;
  padding: 66px;
}

.quote,
.quote-autor {
  color: #1F2937;

  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: start;

  margin: 0 auto;
  padding: 0;
  width: 600px;
  line-height: 1.2; 
}

.quote-autor {
  font-weight: 800;
  font-size: 20px;

  font-style: normal;
  text-align: end;
}

.bottom-section {
  display: flex;
  justify-content: center;
}

.box {
  background-color: rgb(182, 104, 2);
  
  display: flex;
  gap: 120px;

  width: 1200px;
  border-radius: 7px;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;

  color: white;

  width: 600px;
  padding: 36px 0px 36px 62px;
}

.bottom-button {
  width: 300px;
  padding: 16px;
  border-radius: 7px;
  border: none;

  color: white;
  background-color: #DAA520;

  font-weight: 700;
  font-size: 36px;

  align-self: center;
}