@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}